<div class="row">
	<div class="col-md-10"><h2> Feitiços conhecidos: </h2></div>
	<div class="col-md-2"><a href="/admin/spells/create"><button class="btn btn-primary"> Registrar feitiço </button></a></div>
</div>

<div class="container">
	<div class="row">
		{{#each spells}}
			<div class="card col-md-3 me-3 mt-2 mb-2" style="width: 18rem;">
				<div class="card-header text-end">
					<a href="/admin/spells/edit/{{name}}"><button class="btn btn-secondary">Editar</button></a>
				</div>
				<div class="card-body">
					<h5 class="card-title">{{this.name}}</h5>
					<h6 class="card-subtitle mb-2 text-muted">{{this.category}}</h6>
					<p class="card-text">{{this.description}}</p>
					<p><strong>{{this.level}}</strong></p>
					<p>Autor: <strong>{{this.author}}</strong></p>
				</div>
				<div class="card-footer text-center">
					<a href="/admin/spells/delete/{{id}}"><button type="submit" class="btn btn-danger">Eliminar feitiço</button></a>
				</div>
			</div>
		{{/each}}
	</div>
</div>